body {
  height: 100%;
}

.foot1 {
  background-color: #f27c66;
  padding: 15px;
  border-radius: 15px 0px 15px 0px;
  font-weight: bold;
}
.foot2 {
  background-color: #18bb7c;
  padding: 15px;
  border-radius: 15px 0px 15px 0px;
  font-weight: bold;
}
.t-color {
  color: rgb(202, 202, 202);
}
.wah {
  color: black;
}
.bor {
  /* border-style: solid; */

  /* border: 0.5px solid; */
}
.bgcol {
  background-color: #23272c;
  color: white;
}
.bgcol a {
  text-decoration: none;
  color: white;
}
.colr {
  background-color: #18bb7c;
  color: white;
}

.paralex {
  background-image: url("/img/exm.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  width: 100%;
  position: relative;
  /* opacity: 0.7; */
  background-attachment: fixed;
}

button {
  cursor: pointer;
}

.mlx {
  margin-left: 150px;
}

.but {
  border: 2px solid;
  border-radius: 15px 0px 15px 0px;
  border-color: #18bb7c;
}
.but:hover {
  background-color: #18bb7c;
}
.bg-col {
  background-color: #18bb7c;
  position: relative;
  top: 17px;
}
.jcontent {
  justify-content: space-between;
}
.box {
  height: 200px;
  width: 200px;
  border-radius: 15px 0px 15px 0px;
}
.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}
.shad {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.container1 {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 10%;
}
.fnt {
  font-size: 12px;
  color: #656565;
  font-family: "Neue Montreal", "Helvetica Neue", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.fnt p {
  line-height: 8px;
}
.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 0px;
  z-index: 100;
  justify-self: flex-end;
}
.showcase {
  height: 600px;
  background-color: #f2f9f9;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
  color: #23272c;
}

/* .showcase p {
  margin: 20px 0;
  color: #23272c;
} */

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}
/* .showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
} */
/* carasoul */
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* bannenr */

.breaking-news-headline {
  display: block;
  position: absolute;
  font-family: arial;
  font-size: 13px;
  margin-top: -22px;
  color: white;
  margin-left: 150px;
}
.breaking-news-title {
  background-color: #28a745;
  display: block;
  height: 30px;
  width: 90px;
  font-family: arial;
  font-size: 11px;
  position: absolute;
  top: 0px;
  margin-top: 0px;
  margin-left: 20px;
  padding-top: 10px;
  padding-left: 10px;
  z-index: 3;
}
.breaking-news-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  top: 0;
  left: -12px;
  border-left: 12px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 30px solid #28a745;
}
.breaking-news-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  right: -12px;
  top: 0;
  border-right: 12px solid transparent;
  border-left: 0px solid transparent;
  border-top: 30px solid #28a745;
}
#breaking-news-colour {
  height: 30px;
  width: 100%;
  background-color: #f2f9f9;
}
#breaking-news-container {
  height: 30px;
  width: 694px;
  overflow: hidden;
  position: absolute;
}
#breaking-news-container:before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #f2f9f9;
  position: absolute;
  z-index: 2;
}
.animated {
  -webkit-animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.2s;
  -moz-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
}
.delay-animated {
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.4s;
  -moz-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.scroll-animated {
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 3s;
  -moz-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.delay-animated2 {
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.4s;
  -moz-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.delay-animated3 {
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 5s;
  -moz-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-delay: 0.5s;
  animation-delay: 3s;
}
.fadein {
  -webkit-animation-name: fadein;
  -moz-animation-name: fadein;
  -o-animation-name: fadein;
  animation-name: fadein;
}
@-webkit-keyframes fadein {
  from {
    margin-left: 1000px;
  }
}
@-moz-keyframes fadein {
  from {
    margin-left: 1000px;
  }
}
.slidein {
  -webkit-animation-name: slidein;
  -moz-animation-name: slidein;
  -o-animation-name: slidein;
  animation-name: slidein;
}
@keyframes marquee {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.marquee {
  animation: marquee 10s linear infinite;
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 3s;
}
@-webkit-keyframes slidein {
  from {
    margin-left: 800px;
  }
  to {
    margin-top: 0px;
  }
}
@-moz-keyframes slidein {
  from {
    margin-left: 800px;
  }
  to {
    margin-top: 0px;
  }
}
.slideup {
  -webkit-animation-name: slideup;
  -moz-animation-name: slideup;
  -o-animation-name: slideup;
  animation-name: slideup;
}
@-webkit-keyframes slideup {
  from {
    margin-top: 30px;
  }
  to {
    margin-top: 0;
  }
}
@-moz-keyframes slideup {
  from {
    margin-top: 30px;
  }
  to {
    margin-top: 0;
  }
}

/* text scroller */

* {
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

.bar {
  position: absolute;
  top: 40px;
  left: 1px;
  height: 500px;
  overflow: hidden;
  width: 89%;
  padding: 25px 0;
  margin-left: 15px;

  background-color: white;
  color: black;

  font-family: Gelasio;
  font-size: 18px;
}

.bar_content {
  display: block; /* Important to give the content a width */

  width: 100%;
  transform: translateY(0%); /* Animation start out of the screen */

  /* Add the animation */
  animation: move 10s linear infinite
    /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
  to {
    transform: translateY(-100%);
  }
}

/* hover Effect */
.hover-item {
  transition: 0.3s;
}
.hover-item:hover {
  transform: translate(0, 10px);
}

/* pop-up */

@media (max-width: 760px) {
  .dsply {
    display: none;
  }
}
.card1 {
  height: 600px;
  background-color: #f2f9f9;
  position: relative;
}

@media (max-width: 988px) {
  .card1 {
    height: 1040px;
    background-color: #f2f9f9;
    position: relative;
  }
}

@media (max-width: 764px) {
  .nne {
    display: none;
  }
}

.wdth {
  height: 1000px;
  background-color: #f2f9f9;
  position: relative;
}
@media (max-width: 764px) {
  .wdth {
    height: 1600px;
    background-color: #f2f9f9;
    position: relative;
  }
}

@media (max-width: 664px) {
  .wdth {
    height: 1800px;
    background-color: #f2f9f9;
    position: relative;
  }
  .whb {
    width: "450";
    height: "450";
  }
}

@media (max-width: 500px) {
  .whb {
    width: "350";
    height: "450";
  }
}

/* pop up */

.container3 {
  /* text-transform: uppercase; */
  /* background: #ececec; */
  color: #555;
  /* cursor: help; */
  /* font-family: "Gill Sans", Impact, sans-serif; */
  /* font-size: 20px; */
  /* margin: 100px 75px 10px 75px; */
  /* padding: 15px 20px; */
  position: relative;
  /* text-align: center; */
  /* width: 200px; */
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.container3 .popup3 {
  background: #fff;
  bottom: 100%;
  color: #656565;
  display: block;
  left: 20px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.container3 .popup3:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* CSS Triangles - see Trevor's post */
.container3 .popup3:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #fff 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

.container3:hover .popup3 {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .container3 .popup3 {
  display: none;
}

.lte8 .container3:hover .popup3 {
  display: block;
}
.popup5 p {
  line-height: 8px;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

/*  de3*/
.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
